; This file is managed by an ansible playbook template.
; DO NOT MAKE CHANGES DIRECTLY TO THIS FILE.
; Any changes will be overwritten the next time the playbook is run.

[DEFAULT]
ignoreip = 127.0.0.1/8 50.200.100.242 50.198.178.251 50.200.107.69
bantime  = 259200
maxretry = 10

[sshd]
enabled = true
